<div class="side-bar">
    <span id="toggle-icon"></span>
    <div class="title">Subjects</div>
    <div class="text">
        <div class="subject">
            <a routerLink="/test/adav">
                Android Advance
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/adbs">
                Android Basic
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/adte">     
                Test and deploy Android application
            </a>
        </div>
        <div class="subject">
            <a routerLink="test/adui">
                UI on Android
            </a>
        </div>


        <div class="subject">
            <a routerLink="/test/asne">
                ASP.NET
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/clco">
                Cloud computing
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/dbav">
                SQL server
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/dbbs">
                Database
            </a>
        </div>


        <div class="subject">
            <a routerLink="/test/game">
                2D game programing
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/htcs">
                HTML5 && CSS3
            </a>
        </div>
    

        <div class="subject">
            <a routerLink="/test/inma">
                Internet Maketing
            </a>
        </div>
        

        <div class="subject">
            <a routerLink="/test/jaav">
                Java advance
            </a>
        </div>
            

        <div class="subject">
            <a routerLink="/test/jabs">
                OOP in Java
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/jspr">
                Javascript
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/layo">
                Desgin layout
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/mowe">
                Design web for smartphone
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/phpp">
                PHP
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/programing">
                Project management with Agile
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/vbpr">
                Visual Basic
            </a>
        </div>

        <div class="subject">
            <a routerLink="/test/webu">
                Make Webs
            </a>
        </div>

    </div>
</div>


