<div class="side-bar">
    <span id="toggle-icon"></span>
    <div class="title">Subjects</div>
    <div class="text">
        <div class="subject">
            <a routerLink="">
                Test && Trial
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                SQL Server
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                PHP
            </a>
        </div>
        <div class="subject">
            <a routerLink="">
                Android basic
            </a>
        </div>


        <div class="subject">
            <a routerLink="">
                Android advance
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                Design layout
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                Design UI for Android app
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                ASP.NET
            </a>
        </div>


        <div class="subject">
            <a routerLink="">
                Internet Maketing
            </a>
        </div>

        <div class="subject">
            <a routerLink="">
                Internet Maketing
            </a>
        </div>
    

        <div class="subject">
            <a routerLink="">
                Internet Maketing
            </a>
        </div>
        

        <div class="subject">
            <a routerLink="">
                Internet Maketing
            </a>
        </div>
            

        <div class="subject">
            <a routerLink="">
                Internet Maketing
            </a>
        </div>
    </div>
</div>


