$violet: #A53860;

@mixin toggle-icon {
    display: block;
    width: 20px;
    height: 4px;
    background: #000;
    position: absolute;
    content: "";
}
.side-bar {
    position: sticky;
    top: 0;
    background: lighten(#ddd, 5%);
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;

    .title {
        background: rgb(182, 96, 187);
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(46, 7, 7);
    }
    .subject {
        padding: 0.5em 0.5em 0.5em 1em;
        height: 100%;
        background: #fff;
        a {
            color: rgb(50, 50, 50, 0.8);
            font-weight: 400;
        }
    }

    .subject:hover {
        background: linear-gradient(#0ED2F7, #B2FEFA);
    }

}

.side-bar::-webkit-scrollbar-track
{
    visibility: hidden;
}
.side-bar::-webkit-scrollbar
{
    visibility: hidden;
}   

::-webkit-scrollbar-thumb
{
    visibility: hidden;

}