$violet: #A53860;

@mixin toggle-icon {
    display: block;
    width: 20px;
    height: 4px;
    background: #000;
    position: absolute;
    content: "";
}
.side-bar {
    position: fixed;
    width: 17.5%;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
    // #toggle-icon {
    //     @include toggle-icon();
    //     top: 10px;
    //     right: -25px;
    // }

    // #toggle-icon::before {
    //     @include toggle-icon();
    //     top: -6px;  
    // }

    // #toggle-icon::after {
    //     @include toggle-icon();
    //     top: 6px;  
    // }
    .title {
        background: rgb(236, 233, 233);
        position: sticky;
        top: 0px;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(46, 7, 7);

    }
    .text {
        min-height: 900px;
    }
    .subject {
        padding: 0.5em 0.5em 0.5em 1em;
        height: 100%;
        background: #fff;
        a {
            color: rgb(50, 50, 50, 0.8);
            font-weight: 400;
        }
    }

    .subject:hover {
        background: linear-gradient(#0ED2F7, #B2FEFA);
    }

}

.side-bar::-webkit-scrollbar-track
{
	border-radius: 10px;
    background-color: #fff;
    visibility: hidden;
}
.side-bar::-webkit-scrollbar
{
    visibility: hidden;
}   

::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(-20deg,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%)
}