<!-- Dropdown -->
<li class="nav-item dropdown" dropdown>
    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="onLogout()">Log out</a>
    </div>
</li>