<div class="side-bar">
    <div class="title">Subjects</div>
    <hr/>
    <div class="text">
        <a href=""><p>Test && Trial</p></a>
        <a href=""><p>SQL Server</p></a>
        <hr/>
        <a href=""><p>PHP</p></a>
        <hr/>
        <a href=""><p>Android basic</p></a>
        <hr/>
        <a href=""><p>Android advance</p></a>
        <hr/>
        <a href=""><p>Design layout</p></a>
        <hr/>
        <a href=""><p>Design UI for Android app</p></a>
        <hr/>
        <a href=""><p>ASP.net</p></a>
        <hr/>
        <a href=""><p>Internet marketing</p></a>
        <hr/>
        <a href="">
            <p>OOP with Java</p>
        </a>
        <a href="">
            <p>Project management with Agile</p>
        </a>
        <a href="">
            <p>Electro athematics Cloud</p>
        </a>
    </div>
</div>


