<div class="banner">
    <img src="assets/images/banner.jpg" draggable="false" alt="">
    <div class="content">
       <div class="logo">MY LOGO</div>
       <div class="text">
           <div>Start online Testing today</div>
           <form action="" class="btn-group">
                <input type="text" placeholder="Search" class="form-control">
                <button class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
           </form>
       </div> 

       <div class="info">
            <span>
                <i class="fas fa-graduation-cap"></i>
                <span>
                    Students
                </span>
            </span>
            <span>
                <i class="fas fa-book"></i>
                <span>
                    Test
                </span>
            </span>
            <span>
                <i class="fab fa-wpforms"></i>
                <span>
                    Forms
                </span>
            </span>
       </div>
    </div>
</div>