<div class="container">
    <h1 class="text-center">Exam</h1>
    <h5 class="text-right">Time: {{format(time)}}</h5>
    <table class="table" style="border: none">
        <tbody>
            <tr *ngFor="let subject of listSubjects; let i = index">
            <td>
                <div class="card" style="border: none">
                    <div class="card-title" style="font-family: 'Prata', serif; ">
                        <strong><span style="color: #222; font-weight: 500"> Sentence {{ i + 1 }}/{{listSubjects.length }}: </span><span style="font-size: 1.1em; font-weight: bold"> {{ subject.Text }} </span></strong>
                    </div>
                    <div class="card-body text-left" style="font-family: 'Roboto Slab', serif;
                    ">
                        <mdb-checkbox (change)="changed(1, i)" [checked]="listChoose[i] === 1" [default]="true">{{ subject.Answers[0].Text}}</mdb-checkbox>
                        <mdb-checkbox (change)="changed(2, i)" [checked]="listChoose[i] === 2" [default]="true">{{ subject.Answers[1].Text}}</mdb-checkbox>
                        <mdb-checkbox *ngIf="subject.Answers[2]" (change)="changed(3, i)" [checked]="listChoose[i] === 3" [default]="true">{{ subject.Answers[2].Text}}</mdb-checkbox>
                        <mdb-checkbox *ngIf="subject.Answers[3]" (change)="changed(4, i)" [checked]="listChoose[i] === 4" [default]="true">{{ subject.Answers[3].Text}}</mdb-checkbox>
                        
                    </div>
                </div>
            </td> 
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="submit()">Submit</button>

</div>