<app-nav-bar></app-nav-bar>

<div class="row">
    <app-side-nav class="side-bar col-sm-2"></app-side-nav> 
    <div class="col-sm-8">
        <app-carousel class="carousel"></app-carousel>
        <div class="content row mt-2">
            <div class="card col-sm-6">
                <img src="..." alt="hehe" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        adf adf asdf s fdsaf f f ad fas 
                    </div>
                </div>
            </div>
            <div class="card col-sm-6">
                    <img src="..." alt="hehe" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            adf adf asdf s fdsaf f f ad fas 
                        </div>
                    </div>
            </div>
            <div class="card col-sm-6">
                    <img src="..." alt="hehe" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            adf adf asdf s fdsaf f f ad fas 
                        </div>
                    </div>
            </div>
            <div class="card col-sm-6">
                    <img src="..." alt="hehe" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            adf adf asdf s fdsaf f f ad fas 
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <app-side-top-server class="side-top-server col-sm-2"></app-side-top-server>
</div>