<div>
    <img src="assets/images/contact-us.jpg" alt="">
    <div class="above-img-header">
        CONTACT US ABOUT MY SOFTWARE!
    </div>
    <div class="above-img-text">
        You can tell me about your opinion!
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-sm-5 row ml-2">
                <div class="box d-block col-sm-12 mb-5">
                    Contact us directly at
                    <p>(+84) 355933881</p>
                </div>
                <div class="box col-sm-12">
                        Contact us directly at
                        <p>(+84) 355933881</p>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-1 box">
                Contact us directly at
                <p>(+84) 355933881</p>
            </div>
        </div>
    </div>
</div>
