img {
    width: 100%;
    opacity: .9;
}

@keyframes move-header {
    0%   {top: 25%;}
    100% {top: 4%}
  }
.above-img-header { 
    z-index: 2;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 35%;
    top: 4%;
    font-size: 45px;
    font-family: monospace;
    animation: move-header 2s
}

@keyframes move-text {
    0%   {top: 40%;}
    100% {top: 27%}
  }
.above-img-text {
    position: static;
    z-index: 2;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 27%;
    left: 37%;
    font-size: 20px;
    font-family: monospace;
    animation: move-text 2s
}

.content {
    position: sticky; 
    z-index: 3;
    background: #eee;
    height: 400px;      
    padding: 5%;
}

.box {
    background: #fff;
}